* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-family: 'Pangolin', cursive;
  -webkit-text-stroke: 0.5px black;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
  image-rendering: crisp-edges;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  background-image: url(../Assets/autumLeaves.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.marcoJuego {
  background-image: url(../Assets/FondoVerde.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 500px;
  position: absolute;
  left: 30%;
  top: 10%;
  border: black solid 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 135px 135px 10px 10px;
}

.consola {
  background-color: #224920;
  height: 200px;
  width: 500px;
  position: absolute;
  left: 30%;
  top: 75%;
  border: #7a5523 solid 10px;
  border-radius: 2%;
  overflow: hidden;
}

.instrucciones {
  left: 10%;
  top: 10%;
  height: 500px;
  width: 300px;
}

.instruccionesTitulo {
  position: relative;
  left: 15%;
  font-size: 35px;
  color: white;
}

.instruFeli {
  border: black 1px solid;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 15%;
  left: 40%;
  overflow: hidden;
}

.feliInstru {
  position: absolute;
  top: 15%;
  left: 5%;
}

.instruMan {
  border: black 1px solid;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 25%;
  left: 40%;
  overflow: hidden;
}

.hambInstru {
  position: absolute;
  top: 25%;
  left: 5%;
}

.instruEner {
  border: black 1px solid;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 35%;
  left: 40%;
  overflow: hidden;
}

.enerInstru {
  position: absolute;
  top: 35%;
  left: 5%;
}

.instruAgua {
  border: black 1px solid;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 45%;
  left: 40%;
  overflow: hidden;
}

.sedInstru {
  position: absolute;
  top: 45%;
  left: 5%;
}

.textoInstru {
  color: white;
  font-size: 25px;
}

.tienda {
  left: 60%;
  top: 10%;
  height: 500px;
  width: 300px;
}

.tiendaTitulo {
  position: relative;
  left: 35%;
  font-size: 35px;
  color: white;
}

.yeso {
  height: 100px;
}

.costoP {
  position: absolute;
  top: 65%;
  left: 45%;
  font-size: 35px;
  color: yellow;
}

.textoConsola {
  font-size: 20px;
  padding: 10px 0px 0px 5px;
  white-space: pre;
  overflow: hidden;
  color: white;
}

.boton, .boton img {
  height: 100px;
}

.boton {
  position: absolute;
  border: black solid 1px;
}

.jugar {
  top: 30%;
  left: 70%;
}

.manzana {
  top: 75%;
  left: 10%;
}

.agua {
  top: 75%;
  left: 70%;
}

.dormir {
  top: 75%;
  left: 40%;
}

.trabajo {
  top: 30%;
  left: 10%;
}

.costoE {
  position: absolute;
  top: 75%;
  left: 60%;
  font-size: 22px;
  color: #c765c7;
}

.ganancia {
  position: absolute;
  top: 55%;
  left: 60%;
  font-size: 22px;
  color: yellow;
}

.costoH {
  position: absolute;
  top: 0%;
  left: 5%;
  font-size: 22px;
  color: red;
}

.costoS {
  position: absolute;
  top: 0%;
  left: 60%;
  font-size: 22px;
  color: blue;
}

.costoF {
  position: absolute;
  top: 75%;
  left: 2%;
  font-size: 22px;
  color: #17e917;
}

.boton:hover {
  border-bottom: #fbff00 solid 5px;
  cursor: pointer;
}

.costo {
  position: absolute;
  top: 60%;
  left: 60%;
  font-size: 35px;
  color: yellow;
}

.barraEnergia {
  border: black 1px solid;
  height: 20px;
  width: 100px;
  position: absolute;
  top: 69%;
  left: 40%;
  overflow: hidden;
}

.barraContEnergia {
  background-color: violet;
  height: 20px;
  width: 100px;
  position: relative;
}

.barraAgua {
  border: black 1px solid;
  height: 20px;
  width: 100px;
  position: absolute;
  top: 69%;
  left: 70%;
  overflow: hidden;
}

.barraContAgua {
  background-color: blue;
  height: 20px;
  width: 100px;
  position: relative;
}

.barraFelicidad {
  border: black 1px solid;
  height: 20px;
  width: 100px;
  position: absolute;
  top: 24%;
  left: 70%;
  overflow: hidden;
}

.barraContFelicidad {
  background-color: #1cf139;
  height: 20px;
  width: 100px;
  position: relative;
}

.barraManzana {
  border: black 1px solid;
  height: 20px;
  width: 100px;
  position: absolute;
  top: 69%;
  left: 10%;
  overflow: hidden;
}

.barraContManzana {
  background-color: red;
  height: 20px;
  width: 100px;
  position: relative;
}

.contPuntos {
  width: 150px;
  height: 40px;
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 25px;
  color: #eeff00;
}

.contVidas {
  width: 150px;
  height: 40px;
  position: absolute;
  top: 10%;
  left: 60%;
  font-size: 25px;
  color: #f80707;
}

.contNombre {
  width: 150px;
  height: 40px;
  position: absolute;
  top: 2%;
  left: 35%;
  font-size: 25px;
  color: #05be15;
}

.contEdad {
  width: 150px;
  height: 40px;
  position: absolute;
  top: 15%;
  left: 35%;
  font-size: 25px;
  color: #bb6d08;
}

.tamago2Fase {
  display: none;
  width: 100px;
}

.tamago1Fase {
  width: 100px;
}

.rip {
  width: 100px;
  display: none;
}

.huesoRoto {
  position: absolute;
  top: 50%;
  left: 60%;
  width: 40px;
  display: none;
}

.volverJugar {
  background-color: #224920;
  height: 100px;
  width: 300px;
  position: absolute;
  left: 65%;
  top: 75%;
  border: #7a5523 solid 10px;
  border-radius: 2%;
  overflow: hidden;
  color: white;
  font-size: 23px;
  display: none;
}

.volverJugarSi {
  position: absolute;
  top: 40%;
  left: 25%;
  font-size: 30px;
}

.volverJugarNo {
  position: absolute;
  top: 40%;
  left: 75%;
  font-size: 30px;
}

.volverJugarSi:hover {
  color: greenyellow;
  font-size: 32px;
}

.volverJugarNo:hover {
  color: red;
  font-size: 32px;
}
/*# sourceMappingURL=style.css.map */